@font-face {
  font-family: 'ARCADECLASSIC';
  src: url('./ARCADECLASSIC.TTF');
}
body {
  background-color: #0c0c0c;
  color: #07da46;
  font-family: 'ARCADECLASSIC';
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 22, 19);
  margin: 0px 20px;
}
.container {
  border: 1px solid #07da46;
  padding: 2rem;
  border-radius: 0;
  font-size: 25px;
  letter-spacing: 5px;
  background-color: rgb(9, 12, 10);
  text-align: center;
  background-image: url(./panel.png);
  background-size: 100% 155%;
  background-position: center -160px;
  background-repeat: none;
  min-height: 600px;
  
}
.title-container {
  background-color: rgba(0, 0, 0, 0.55);
  border: 2px solid #07da4662;
  margin-bottom: 20px;
}
.container input,
.container select,
.container button {
  padding: 15px;
  border-radius: 4px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.55);
  color: #07da46;
  font-family: 'ARCADECLASSIC';
  margin: 2px;
  border: 1px dashed #07da4662;
}
.container input::placeholder {
  color: #07da46;
}
.container input:focus,
.container select:focus,
.container button:focus {
  outline: 1px solid #07da46;
}
#otp-display {
  font-size: 3rem;
  margin-top: 20px;
  min-height: 3rem;
  letter-spacing: 0.3rem;
  color: #07da46;
  font-weight: bold;
}
.result {
  padding: 20px;
  line-height: 1.3;
  background-color: rgba(0, 0, 0, 0.55);
  border: 2px solid #07da4662;
}
.otp-code {
  color: rgb(0, 19, 187);
}

.nuke {
  background: #300;
  color: #f00;
  border-color: #f00;

}
#wipe-btn {
  color: #ff002b;
  border: 1px dashed #ff002ba9;
  border-radius: 7px;
}
#wipe-btn:focus {
  outline: 1px solid #ff002b;
}
/* Terminal flicker effect for nostalgia */
/* body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(0, 255, 0, 0.02);
  animation: flicker 0.01s infinite alternate;
}

@keyframes flicker {
  from { opacity: 0.1; }
  to { opacity: 0.2; }
} */

@media only screen and (max-width: 600px) {
  .page {
    align-items: start;
    margin: 10px;
  }
}